.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: white;
  background-color: black;
  font-weight: bold;
  margin-right: 8px;
  border: solid black 2px;
  padding: 8px;
}
.nav-links a:hover{
 background-color: white;
 color:black; 
}


.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  border-bottom: 1px solid black;
}

.store-header {
  color: #black;
}
.container {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  margin: 16px 8px;
  padding: 16px;
  background-color: white;
}
.container.form {
  display: flex;
  align-items: baseline;

  @media (max-width: 650px) {
    flex-direction: column;
  }

  .form-group {
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;

    &.submit {
      flex: 2;
      align-items: flex-start;
    }
    &.inputs {
      flex: 2;
    }
    &.checkboxes {
      flex: 1;
    }
  }
}
a {
  font-size: 0.75em;
}
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

form {
  h2, h4, h4 {
    color: darkblue;
  }
}
label {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}
input[type=text], select {
  height: 1.5rem;
}
button {
  height: 2rem;
  width: 6rem;
  border-radius: 8px;
  color: rgb(30, 220, 20);
  background-color: white;
  border: 2px solid rgb(30, 220, 20);
}

button:hover {
    cursor: pointer;
  }
button:disabled {
    color: crimson;
    background-color: white;
    border: 2px solid crimson;
    cursor: not-allowed;
  }

button:focus {
  background-color: black;
}


.errors {
  margin: 8px;
  font-size: 0.7em;
  color: red;

  div {
    display: block;
    margin-top: 4px;
  }
}



.pizza-title{
  min-height: 3vh;
  border: solid grey 1px;
  background-color: black;
  color: white;
  padding: 3px;
  margin-bottom: 5px;
}
.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}